<ng-container *ngIf="propertyLoans$ | async as propertyLoans; else loader">
  <button (click)="resetFilters()">Clear filters</button>
  <app-property-loan-grid #propertyGrid [rowData]="propertyLoans" (filterChange)="propertyFilterChange($event)"></app-property-loan-grid>
  <app-loans-grid #loanGrid [rowData]="propertyLoans" (filterChange)="loanFilterChange($event)"></app-loans-grid>
  <app-loan-due-date-grid #loanDueDateGrid [rowData]="propertyLoans" (filterChange)="loanDueDateFilterChange($event)"></app-loan-due-date-grid>
</ng-container>
<ng-template #loader>
  <mat-progress-spinner></mat-progress-spinner>
</ng-template>
