/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ag-header-cell {
  background-color: rgb(231, 10, 10);
  color: #FFF;
}

/* .ag-row-even {
  background-color: rgb(216, 204, 31);
} */

/* The simple and easy alternative to a deep style is a common style using the element selector of the parent component. So if you had this in hero-details.component.css:

:host ::ng-deep h3 {
  font-style: italic;
}
It would become this in styles.css:

app-hero-details h3 {
  font-style: italic;
} */
